.img {
  width: 215px;
  margin: 0 10px;
  height: 295px;
  transition: transform 0.5s;
}

.img:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 510px) {
  .img {
    width: auto;
    height: auto;
  }
}
